@import "./variables.scss";
@import "./breakpoints.scss";

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #423628;
 
  background-size: cover;

  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    padding: 40px;
   // background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    background-color: rgba(255, 251, 251, );
    
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25), -3px -3px 6px 0px
               rgba(0, 0, 0, 0);


    @include lg {
      width: 60%
    }

    @include mm {
      width: 80%
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      input {
        // width: 100%;
        // padding: 7px 15px;
        // background-color: transparent;
        // border: none;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        // outline: none;
        // text-align: center;
        // color: white;
        width: 100%;
        padding: 10px 15px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        outline: none;
        text-align: center;
        // color: white;
        box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 5px 0 rgba(255,255,255,0.5);
        border-radius: 30px;
        color: rgb(0, 0, 0);
        font-family: "Calibri";
        font-size: 14px;

        input:not(:placeholder-shown):focus {
          color: rgb(125, 125, 125); /* or background: none; */
        }

        &::placeholder {
          color: rgb(125, 125, 125);
        }
      }

      button {
        margin-top: 15px;
        margin-top: 15px;
        border: none;
        @include buttonStyle;
       // background-color: black;
       background: linear-gradient(
         90deg,
         rgba(151, 71, 255 ) 52%,
          rgba(221, 155, 75, ) 100%
          );
       width: 50%;
       box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25), -3px -3px 6px 0px
              rgba(0, 0, 0, 0);
       
        // @include buttonStyle;
        // width: 50%;

        &:hover {
          // box-shadow: 0 0 10px 3px rgba(255, 255, 255);
          box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25), -10px -10px 20px 0px
          rgba(0, 0, 0, 0);

        }
      }
    }

    &_google {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
      color: rgb(10, 10, 10);
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      font-family: "Calibri";

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: white;
      font-size: 13px;
      text-align: center;
    }
  }
}